--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.4.0+cpu
fastapi
langchain 
chromadb
uuid
uvicorn
langchain_groq
python-dotenv
streamlit
langchain_community 
langchain_chroma
sentence_transformers
langchain-huggingface
pypdf